.dashboard-container{
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;

}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

h1{
    font-size: 40px;
}

.cards-grid > :last-child {
    grid-column: span 2;
}

/* controla altura do calendário */
.calendario-container {
    height: 350px;
    
}